dd {
	transition: margin-left 0.75s linear;
}

@media only screen and (min-width : 480px) {
	dd {
		margin-left: 1.0em;
	}
}

@media only screen and (min-width : 768px) {
	dd {
		margin-left: 1.5em;
	}
}

@media only screen and (min-width : 992px) {
	dd {
		margin-left: 2.25em;
	}
}

@media only screen and (min-width : 1200px) {
	dd {
		margin-left: 3em;
	}
}
