caption, .caption {
	margin-top: 10px;
	font-style: italic;
	color: #555;
}

figure, .figure { margin-top: 18px; margin-bottom: 16px; }

@media only screen and (min-width : 480px) {
	dd { margin-left: 1em; }
	figure, .figure { margin-left: 1em; }
}

@media only screen and (min-width : 768px) {
	dd { margin-left: 1.5em; }
	figure, .figure { margin-left: 1.5em; }
}

@media only screen and (min-width : 992px) {
	dd { margin-left: 2.25em; }
	figure, .figure { margin-left: 2.25em; }
}

@media only screen and (min-width : 1200px) {
	dd { margin-left: 3em; }
	figure, .figure { margin-left: 3em; }
}
